.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#map {
  position: fixed !important;
  overflow: hidden;
  right: 60px;
  width: 500px;
  height: 400px;
  top: 160px;
  background: #fff;
  padding: 6px 6px;
  box-shadow: 0px 1px 2px 2px #e2e1e1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.top70{
  margin-top: 70px;
}
.bottom70{
  margin-bottom: 70px;
}
.bottom50{
  margin-bottom: 50px;
}
.card{
  box-shadow: 1px 1px 4px 1px #ccc;
  overflow: hidden;
  zoom: 1;
  background: #fff;
  padding: 6px 12px;
}
html, body{
  font-family: 'Lato', sans-serif;
}
.media-body p{
  font-size: 11px;
}
.media-heading {
  margin-top: 5px;
  margin-bottom: 5px;
}
.media-body h4{
  font-size: 15px;
  color: #4285f4;
}
.media {
  margin-top: 8px;
}

@media(max-width:1150px){
  .hideMapOnMobile{
    visibility: hidden;
  }
}
.mt0{
  margin-top: 0px;
}
.mb0{
  margin-bottom: 0px;
}
.imageAlign{
  width: 300px;
  height: auto;
}
.imageAlignGiphy{
  width: 110px;
  height: auto;
}
.autoWidth{
  width: 8vw;
  margin: 10px;
}
.bold{
  font-weight: bold;
}